VITE_SUPABASE_URL=https://mewivpocoytdjemcwjus.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1ld2l2cG9jb3l0ZGplbWN3anVzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzcxMTg4ODgsImV4cCI6MjA5MjY5NDg4OH0.-4czHL9IYz7IwH8oGg9B-DRh1W4ONZuS_GKhqoNYmGY
